<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/detail.css">
    <script language="JavaScript">
        function showDelImg(imgId) {
            document.getElementById(imgId).style.display = 'inline';
        }

        function hiddenDelImg(imgId) {
            document.getElementById(imgId).style.display = 'none';
        }

        function deleteReply(replyId) {
            window.location.href = "/reply.do?operate=deleteReply&replyId=" + replyId;
        }
    </script>
</head>
<body>
<div id="div_back_to_topic_list">
    <a th:href="@{|/page.do?operate=page&page=frames/main|}">返回日志列表</a>
</div>
<div id="div_topic_detail">
    <div id="div_topic_info">
        <table id="tbl_topic_info" th:object="${session.topic}">
            <tr>
                <td rowspan="2" class="w14 h96">
                    <div class="h64 center " style="width:100%;">
                        <img class="img56 " th:src="@{|/imgs/*{author.headImg}|}"/>
                    </div>
                    <div class="h32 center" style="width:100%;" th:text="*{author.nickName}"></div>
                </td>
                <td class="topic_title" onmousemove="showDelImg('img01')" onmouseout="hiddenDelImg('img01')">
                    <img th:if="${session.userBasic.id==session.friend.id}" id="img01"
                         style="float: right;margin-top:2px;margin-right:2px;display: none;width:24px;height: 24px;"
                         src="../imgs/del.jpg"/>
                    <span th:text="*{title}"></span>
                    <span class="title_date_right" th:text="*{topicDate}">2021-09-01 12:30:55</span>
                </td>
            </tr>
            <tr>
                <td th:text="*{content}"></td>
            </tr>
        </table>
    </div>
    <div id="div_reply_list">
        <table class="tbl_reply_info" th:unless="${#lists.isEmpty(session.topic.replyList)}"
               th:each="reply : ${session.topic.replyList}">
            <tr>
                <td rowspan="2" class="w14 h88">
                    <div class="h56 center" style="width:100%;">
                        <img class="img48" th:src="@{|/imgs/${reply.author.headImg}|}"/>
                    </div>
                    <div class="h32 center" style="width:100%;" th:text="${reply.author.nickName}"></div>
                </td>
                <td class="reply_title" th:onmouseover="@{|showDelImg(${reply.id.toString()})|}" th:onmouseout="@{|hiddenDelImg(${reply.id.toString()})|}">
                    <span th:text="@{|回复:${session.topic.content}|}"></span>
                    <img th:if="${session.userBasic.id==session.friend.id}" th:id="${reply.id.toString()}"
                         style="float: right;margin-top:2px;margin-right:2px;display: none;width:24px;height: 24px;"
                         th:src="@{/imgs/del.jpg}" th:onclick="@{|deleteReply(${reply.id})|}"/>
                    <span class="title_date_right" th:text="${reply.replyDate}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span th:text="${reply.content}"></span>
                    <br/>
                    <ul th:unless="${reply.hostReply==null}"
                        style="width: 96%;border:1px dotted lightgray;list-style-type: none;padding-left:8px;padding-right:8px;">
                        <li style="color:#6e0000;font-size:12px;width: 100%;border:0px solid red;"
                            th:text="${reply.hostReply.content}"></li>
                        <li style="color:#6e0000;font-size:12px;width:100%;border:0px solid blue;text-align: right;margin-right: 8px;"
                            th:text="@{|主人恢复于${reply.hostReply.hostReplyDate}|}"></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="div_add_reply">
    <p class="add_reply_title">添加回复</p>
    <form th:action="@{/reply.do}" method="post">
        <input type="hidden" name="operate" value="addReply">
        <input type="hidden" name="authorId" th:value="${session.userBasic.id}">
        <table>
            <tr>
                <th style="width: 25%">回复日志：</th>
                <td><input type="text" th:value="${session.topic.title}" readonly/></td>
            </tr>
            <tr>
                <th>回复内容：</th>
                <td><textarea name="content" rows="3"></textarea></td>
            </tr>
            <tr>
                <th colspan="2">
                    <input type="submit" value=" 回 复 "/>
                    <input type="reset" value=" 重 置 "/>
                </th>
            </tr>
        </table>
    </form>
</div>
</body>
</html>